.card {
  margin-bottom: 20px;
  border: 1px solid #D7D7D7;
  border-radius: 20px;
  background-color: #D7D7D7;

  &__img {
    height: 350px;
    border-radius: 20px;
    background-color: #D7D7D7;
  }

  &__title {
    padding: 20px;
  }
}
